

.survey {
  background-color:#FFE5E3;
}

/* Navigation Bar */
.navbar{
  background-color: #FFE5E3;
}


.example{
  background-color: #FFE5E3;
}

.slide {
  height: 50%;
  width: 100%;
  margin: 10px;
}




.questionDesign {
  background-color: white;
  text-align: center;

}