body{
  background-color: #FFE5E3
}

html {
  background-color: #FFE5E3;
}

.survey {
  background-color:#FFE5E3;
}

/* Navigation Bar */
.navbar{
  background-color: #FFE5E3;
}


.example{
  background-color: #FFE5E3;
}

.slide {
  height: 50%;
  width: 100%;
  margin: 10px;
}



label{
    display: block;

}

.questionDesign {
  
  padding: 5px;
  text-align: center;

}

#wavyResults{
 text-align:center;
  background-color: #ffdbd9; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: center;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  margin-left: 25%;
  margin-right: 25%

}

 #curlyResults{
  background-color: #ffdbd9; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: center;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  margin-left: 25%;
  margin-right: 25%

} 

#kinkyResults{
 text-align:center;
  background-color: #ffdbd9; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: center;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  margin-left: 25%;
  margin-right: 25%
}

.threea-hair {
  max-width: 250px;
  height: 250px;
}

.threeb-hair {
  max-width: 250px;
  height: 250px;
}

.threec-hair {
  max-width: 250px;
  height: 250px;
}

.foura-hair {
  max-width: 250px;
  height: 250px;
}

.fourb-hair {
  max-width: 250px;
  height: 250px;
}

.fourc-hair {
  max-width: 250px;
  height: 250px;
}

.twoa-hair {
  max-width: 250px;
  height: 250px;
}

.twob-hair {
  max-width: 250px;
  height: 250px;
}

.twoc-hair {
  max-width: 250px;
  height: 250px;
}

#backBtn1 {
  background-color: #6c757c; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;

}

#backBtn1:hover{
  background-color: #7d8991;
  color: white;
  border: 2px solid #6c757c;
}









