body{
  background-color: transparent;
}

html {
  background-color: transparent;
}

.survey {
  background-color:transparent;
}

/* Navigation Bar */
.navbar{
  background-color: transparent;
}


.example{
  background-color: transparent;
}

.slide {
  height: 50%;
  width: 100%;
  margin: 10px;
}


input[type=text] {
  padding: 12px 20px;
  margin: 50px 0px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  position: relative;
  width: 45%;
  margin-top: 5px;

}

input[type=text]:focus {
  border: 3px solid #555;

}

#top1{
  margin-left: 15%;
  margin-right: 15%;
}
label{
    display: block;

}

.radioBtn{
 visibility:hidden;

}

.questionDesign {
  
  padding: 5px;
  text-align: center;



}

#wavyResults{
 text-align:center;
  background-color: #ffdbd9; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-decoration: none;
  display: center;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  margin-left: 25%;
  margin-right: 25%

}

 #curlyResults{
  background-color: #000000; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: center;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 25%;
  margin-right: 25%

} 

#kinkyResults{
  background-color: #000000; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: center;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 25%;
  margin-right: 25%
}

.threea-hair {
  max-width: 250px;
  height: 250px;
}

.threeb-hair {
  max-width: 250px;
  height: 250px;
}

.threec-hair {
  max-width: 250px;
  height: 250px;
}

.foura-hair {
  max-width: 250px;
  height: 250px;
}

.fourb-hair {
  max-width: 250px;
  height: 250px;
}

.fourc-hair {
  max-width: 250px;
  height: 250px;
}

.twoa-hair {
  max-width: 250px;
  height: 250px;
}

.twob-hair {
  max-width: 250px;
  height: 250px;
}

.twoc-hair {
  max-width: 250px;
  height: 250px;
}

.surveyphotos {
  margin-left: 350px;
}

.model-4 {
  width: 20% ;
  height: 50% ;
} */ 

 .model-3 {
  width: 20%;
  height: 50% ;
} 

.model-2{
  width: 20%;
  height: 50% ;
  margin-right: 100px;
}


#backBtn1 {
  background-color: #6c757c; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: center;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
  margin-left: 2%;
  margin-right: 15%;

}

#backBtn1:hover{
  background-color: #7d8991;
  color: white;
  border: 2px solid #6c757c;
}

.text {
  size: 30px;
  font-family: 'Barlow', sans-serif;
}

.radio-curl {
  size: 30px;
  font-family: 'Barlow', sans-serif;
}

.radio-kinky {
  size: 30px;
  font-family: 'Barlow', sans-serif;
}

.radio-wavy {
  size: 30px;
  font-family: 'Barlow', sans-serif;
}

.porosity-choice{
  size: 30px;
  font-family: 'Barlow', sans-serif;
}

.video {
  color: #6828A1;
}

.video:hover {
  color: #2e2be2;
}


.frizz-choice {
  size: 30px;
  font-family: 'Barlow', sans-serif;
}

.heat-choice {
  size: 30px;
  font-family: 'Barlow', sans-serif;
}

.growth-choice {
  size: 30px;
  font-family: 'Barlow', sans-serif;
}



